/*BOUTON ADMIN SPIP*/
.spip-admin-bloc, .spip-admin-float {
    z-index: 999999 !important;
}

/*SURCHARGE SYTLES SPIP*/
.spip_logo {
    margin: 0px;
}

.pagination {
    text-align: left;
}

.pagination .disabled {
    visibility: visible;
}

.formulaire_spip .boutons {
    text-align: left;
}

/*STYLE DES FORMULAIRE SPIP*/
.formulaire_spip form ul {
    list-style-type: none;
    padding-left: 0em;
}

.formulaire_spip form ul li{
    padding-left: 0em;
}

/*Menu*/

#header .links ul li.on a{
    font-weight: 600;
    color: #2ebaae;
}

/*Style pour l'affichage des forums d'articles*/


/*FORUMULAIRE FORUM*/

.comment-form {
    padding: 10px;
    background: #F4F4F4;
}

fieldset.moderation_info legend{
    font-weight: bold;
}


/*THREAD*/
article  ul.comments-items{
    list-style-type: none;
    padding-left: 0em;
}

article ul.comments-items li{
    padding-left: 0em;
}

article .comments-list form{
    display: inline-block;
}

article .comments-list .comment {
    padding: 15px;
    border: 1px solid #F4F4F4;
    margin-bottom: 20px;
}

/*PORTFOLIO*/

article #documents_portfolio ul, article #documents_joints ul{
    list-style-type: none;
    padding-left: 0em;
}

article #documents_portfolio ul li{
    display: inline-block;
    padding-left: 0em;
}

article #documents_portfolio ul li a{
    border-bottom: 0px;
}

/*FORMULAIRE RECHERCHE HAUT*/
nav.main form.search:before{
    content: none;
}

nav.main form.search > input.search {
    padding-left: 0em;
}

/*FORMULAIER RECHERCHE DROITE*/
form.search > input.search {
    padding-left: 2.5em;
}

input[type="search"]{
    height: 2.75em;
}

input[type="search"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(160, 160, 160, 0.075);
		border: none;
		border: solid 1px rgba(160, 160, 160, 0.3);
		border-radius: 0;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="search"]:invalid {
			box-shadow: none;
		}

		input[type="search"]:focus{
			border-color: #2ebaae;
			box-shadow: inset 0 0 0 1px #2ebaae;
		}